// 主色
@main-color: #00bbf0;
// 背景色
@bg-color: #d9faff;
// 按钮颜色
@btn-color: #b9e8ff;

// 辅助色1 
@auxiliary-color1: #005792;
// 辅助色2
@auxiliary-color2: #00204a;
// 辅助色3
@hoverColor: #00bbf05f;
// 圆角
@bigRadius: 20px;
@midRadius: 12px;
// 间距
@space: 20px;
// 字体1颜色
@font-color: #032048;
// 字体2颜色
@font-color2: #ffffff;
